// Accordion basic
$accordion-card-header-padding-y: 1rem;
$accordion-card-header-padding-x: 1.5rem;
$accordion-link-hover-transition:ease-in-out .3s;
$accordion-rotate-icon-transform:rotate(180deg);
.md-accordion {
    .card {
      overflow: visible;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: none;
      &:first-of-type,
      &:not(:first-of-type):not(:last-of-type) {
        border-bottom: 1px solid #e0e0e0;
      }
      .card-header {
        padding: $accordion-card-header-padding-y $accordion-card-header-padding-x;
        background: transparent;
        border-bottom: 0;
        .card-title {
          font-weight: 400;
        }
        a {
          transition: $accordion-link-hover-transition;
        }
        a:not(.collapsed) {
          .rotate-icon {
            transform: $accordion-rotate-icon-transform;
          }
        }
      }
      .fa-angle-down {
        float: right;
      }
      .card-body {
        padding: $accordion-card-header-padding-y $accordion-card-header-padding-x;
      }
    }
  }
  