/**
 *
 * user selection
 *
 */

.user-selection {
    $p:&;
    --spacer: 8px;
    background-color: white;
    &-header {
        display: flex;
        justify-content: space-between;
        background-color: #fcfcfc;
        border-bottom: 1px solid #c4c4c4;
        padding: var(--spacer) calc(var(--spacer) * 3);
        align-items: center;
    }

    &-body {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) * 3);
    }

    

    .panel {
        border: 1px solid #ddd;
         
        &-body {
            max-height: 400px;
            overflow-y:auto;
        }
    }
    .panel-default > .panel-heading {
        background: transparent;
        display: flex;
        align-items: center;
        > [data-toggle="collapse"] {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            &:not(.collapsed) {
                .icon-round {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .panel-group .panel+.panel {
        margin-top: 16px;
    }


    &-list {
        display: flex;
        margin:0 -15px;
        padding:8px 0;
        &:not(:last-child){
            // border-bottom:1px solid #ccc;
        }
        > * {
            padding:0 15px;
            
        }
        #{$p}-name {
             
            flex:1;
        }
        #{$p}-rollnreg {
            margin-left: auto;
            .reg {
                 @media(max-width:600px){
                display: none;
            }
            }
        }
        #{$p}-other {
            @media(max-width:600px){
                display: none;
            }
        }
    }
}
