<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billing</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      font-family: "Arial";
      box-sizing: border-box;
    }
    table {
      border-spacing: 15px;
    }
    table,
    th,
    td {
      border: none;
      padding: 10px;
      border-collapse: collapse;
    }
    .table-container {
      max-width: 100%;
      margin: 0 auto;
      width: 100%;
    }
    .table-billing,
    .table-billing > tbody > tr > td,
    .table-billing > tbody > tr > th {
      border: 1px solid black;
      padding: 0 !important;
    }
    .table-fluid {
      width: 100%;
    }
    .table-account td:last-child {
        text-align: right;
    }
  </style>
  <body>
    <table class="table-container">
      <thead>
        <tr>
          <td>
            <table>
              <tr>
                <td width="150">
                  <img
                    src="https://i.ibb.co/bgrnkfz/trust-1-1.png"
                    width="150"
                    alt="trust-1-1"
                    border="0"
                  />
                </td>
                <td>
                  <h1>Eduwise School Nepal</h1>
                  <p>Kathmandu, Nepal</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table class="table-billing table-fluid">
              <tbody>
                <tr>
                  <td>
                    <table class="table-fluid">
                      <tr>
                        <th align="left">Fee Receipt</th>
                        <th align="center">Receipt No. 10</th>
                        <th align="right">Date: 15/02/2018</th>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table class="table-fluid">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table>
                              <tbody>
                                <tr>
                                  <td>Student Name</td>
                                  <td><b>Adhira Goutam</b></td>
                                </tr>
                                <tr>
                                  <td>Admission No</td>
                                  <td>2124554</td>
                                </tr>
                                <tr>
                                  <td>Finance Fee Collection</td>
                                  <td>Monthly Fee</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td align="right">
                            <table>
                              <tbody>
                                <tr>
                                  <td>Class</td>
                                  <td>G1 - 2017-2018 A</td>
                                </tr>
                                <tr>
                                  <td>Parent</td>
                                  <td>Parent Name</td>
                                </tr>
                                <tr>
                                  <td>Due Date</td>
                                  <td>30/02/2018</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                    <td>
                        <table class="table-fluid table-account">
                            <tbody>
                                <tr>
                                    <td><b>Particulars</b></td>
                                    <td><b>Amount (Rs.)</b></td>
                                </tr>
                                <tr>
                                    <td>1. Tuition Fee</td>
                                    <td>2000.00</td>
                                </tr>
                                <tr>
                                    <td>2. Computer</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>3. ECA</td>
                                    <td>1000.00</td>
                                </tr>
                                <tr>
                                    <td>4. Education Tax 1%</td>
                                    <td>25.00</td>
                                </tr>
                                <tr>
                                    <td>5. Exam Fee</td>
                                    <td>500.00</td>
                                </tr>
                                <tr>
                                    <td>6. Sports Fee</td>
                                    <td>500.00</td>
                                </tr>
                                <tr>
                                    <td><b>Discounts</b></td>
                                    <td><b>Amount (Rs.)</b></td>
                                </tr>
                                <tr>
                                    <td>1. Tuition Fee</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>2. Exam Fee</td>
                                    <td>100.00</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-fluid table-account">
                            <tbody>
                             
                                <tr>
                                    <td><b>Summary</b></td>
                                    <td width="300" ><b>Amount (Rs.)</b></td>
                                </tr>
                                <tr>
                                    <td>1. Total Fees</td>
                                    <td>300.00</td>
                                </tr>
                                <tr>
                                    <td>2. Total Discounts</td>
                                    <td>100.00</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-fluid">
                            <tbody>
                                <tr>
                                    <td>
                                      <table>
                                          <tbody>
                                              <tr>
                                                  <td>Payment mode</td>
                                                  <td>Cash</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                    </td>
                                    <td align="right">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Total amount to pay</td>
                                                    <td>3925.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </td>
                                    
                                     
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table class="table-fluid">
                            <tbody>
                                <tr>
                                    <td>
                                      <table>
                                          <tbody>
                                              <tr>
                                                  <td><b>Amount in Words</b></td>
                                                  <td>Three thousand nine hundrend ruprees only</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                    </td>
                                    <td align="right">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><b>Total amount paid</b></td>
                                                    <td>3925.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </td>
                                    
                                     
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Fees must be paid in full within the endof every month</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
