/*=============================================
=            margins            =
=============================================*/
$spacer: 1rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    //4px
    2:
        (
            $spacer * 0.5,
        ),
    // 8px
    3: $spacer,
    //16px
    4:
        (
            $spacer * 1.5,
        ),
    //24
    5:
        (
            $spacer * 3,
        )
        //48,,,
);
$space-direction: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-3 {
    margin-top: 16px;
}   

.p-0 {
    padding:0px !important
}
.p-3{
    padding:16px !important
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}

@each $dir, $dirValue in $space-direction {
    @each $spaceKey, $spaceValue in $spacers {
        .m#{$dir}-#{$spaceKey} {
            margin-#{$dirValue}: $spaceValue !important;
        }
    }

    @each $spaceKey, $spaceValue in $spacers {
        .p#{$dir}-#{$spaceKey} {
            padding-#{$dirValue}: $spaceValue !important;
        }
    }
}
@each $key, $value in $breakpoints {
    @include breakpoint(#{$key}, min) {
        @each $dir, $dirValue in $space-direction {
            @each $spaceKey, $spaceValue in $spacers {
                .m#{$dir}-#{$key}-#{$spaceKey} {
                    margin-#{$dirValue}: $spaceValue !important;
                }
            }
        }
    }
 
}

@each $key, $value in $breakpoints {
    @include breakpoint(#{$key}, min) {
        @each $dir, $dirValue in $space-direction {
            @each $spaceKey, $spaceValue in $spacers {
                .p#{$dir}-#{$key}-#{$spaceKey} {
                    padding-#{$dirValue}: $spaceValue !important;
                }
            }
        }
    }
 
}

/*=============================================
=            display utils            =
=============================================*/
@each $key, $value in $breakpoints {
    @include breakpoint(#{$key}, min) {
        .align-self-#{$key}-center {
            align-self: center;
        }
    }
}

/*=============================================
=            padding            =
=============================================*/

.py-0 {
    margin-top: 0;
    margin-bottom: 0;
}


.stretched-link {
    &:after {
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: 1;
    content: "";
    }

}

.align-items-center {
    align-items: center;
}
.align-self-center {
    align-self: center;
}